
@model IEnumerable<LiftEmAll.Models.DriverRequest>

<h3>All Request</h3>

@foreach (var request in Model)
{
    <div class="request-item">
        <div class="item-row">
            <div class="field-label">
                <label>Passenger's name</label>
            </div>
            <div class="content">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <span>@request.Name</span>
            </div>
        </div>
        <div class="item-row">
            <div class="field-label">
                <label>Mobile phone</label>
            </div>
            <div class="content">
                <a href="tel: @request.Phone">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    @request.Phone
                </a>
            </div>
        </div>
        <div class="item-row">
            <div class="field-label">
                <label>Pick-up address</label>
            </div>
            <div class="content">
                <a href="javascript:void(0)">
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    @request.PickUpLocation
                </a>
            </div>
        </div>
        <div class="item-row">
            <div class="field-label">
                <label>Pick-up time</label>
            </div>
            <div class="content">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span>17:30</span>
            </div>
        </div>
        <div class="item-row">
            <button type="button" class="btn btn-primary accept-request" onclick="window.home.acceptRequest()" data-url="@Url.Action("Index","Phone", new {requestId = request.Id})">Accept</button>
            <button type="button" class="btn btn-success">Call</button>
        </div>
    </div>
}