@model LiftEmAll.Models.DriverRequest

@{
	ViewBag.Title = "Home Page";
}

@section head
{
    @Styles.Render("~/Content/styles/home")
}

<form action="@Url.Action("SendRequest")" method="POST" novalidate="novalidate">
	<div id="panel">
	    <div id="panelCaller">
	        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
	    </div>

        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a href="javascript:void(0)" data-target="#newRequest">New pick-up request</a></li>
            <li role="presentation" class=""><a href="javascript:void(0)" data-target="#allRequest">All pick-up request</a></li>            
        </ul>

	    <div class="tab-content open" id="newRequest">
            <h3>Request A Driver</h3>
            <div class="col-md-12">
                <label class="control-label">Name: </label>
            </div>
            <div class="col-md-12">
                @Html.TextBox("Name", Model.Name, new { @class = "form-control" })
            </div>
            <div class="col-md-12">
                <label class="control-label">Email: </label>
            </div>
            <div class="col-md-12">
                @Html.TextBox("Email", Model.Email, new { @class = "form-control" })
            </div>
            <div class="col-md-12">
                <label class="control-label">Phone: </label>
            </div>
            <div class="col-md-12">
                @Html.TextBox("Phone", Model.Phone, new { @class = "form-control" })
            </div>
            <div class="col-md-12">
                <label class="control-label">Pick-up location: </label>
            </div>
            <div class="col-md-12">
                @Html.TextBox("PickUpLocation", Model.PickUpLocation, new { @class = "form-control" })
            </div>
            <div class="col-md-12">
                <label class="control-label">Destination location: </label>
            </div>
            <div class="col-md-12">
                @Html.TextBox("DestinationLocation", Model.DestinationLocation, new { @class = "form-control" })
            </div>
            <div class="col-md-12" style="margin-top: 15px">
                <button class="btn btn-success" type="submit">Send</button>
            </div>
	    </div>
	    <div class="tab-content" id="allRequest">
	        <h3>All Request</h3>

	    </div>
	</div>
</form>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>

@section scripts {
	@Scripts.Render("~/bundles/pages/home")
	
}
